---
import Layout from '@/layouts/Layout.astro';
import { Content, frontmatter } from '@/content/ingemar.md';
---

<Layout title="Brinkepojkarna - Ingemar">
	<main>
		<Content />
	</main>
</Layout>

<style>
</style>
