---
import Layout from "@/layouts/Layout.astro";
import { Content, frontmatter } from "@/content/martin.md";
---

<Layout title="Brinkepojkarna - Martin">
  <main>
    <section>
      <div class="max-width">
        <div class="prose">
          <Content />
        </div>
      </div>
    </section>
  </main>
</Layout>

<style></style>
