---
import Layout from '@/layouts/Layout.astro';
import { Content, frontmatter } from '@/content/per.md';
---

<Layout title="Brinkepojkarna - Per">
	<main>
		<Content />
	</main>
</Layout>

<style>
</style>
