---
import Layout from '../layouts/Layout.astro';
import { Content, frontmatter } from '@/content/startpage.md';
---

<Layout title="Brinkepojkarna">
	<main>
		<Content />
	</main>
</Layout>

<style>
</style>
